 THIS SHIT RIGHT HERE CAUSED A SHIT LOAD OF PROBLEMS FOR ME AND DELAYED THE gtk-3.22 VERSION ALMOST A MONTH BEHIND, FUCK */

/* File : gtk-widgets.css*/

/* .titlebar .title,
.titlebar .subtitle,
.titlebar .titlebutton,
.titlebar *:not(entry) image {
    color: @textColorPrimary;
    text-shadow: 0 1px @textColorPrimaryShadow;
    -gtk-icon-shadow: 0 1px @textColorPrimaryShadow;
} 

.titlebar .title:backdrop,
.titlebar .subtitle:backdrop,
.titlebar .titlebutton:backdrop,
.titlebar *:not(entry) image:backdrop {
    color: mix (@textColorPrimary, @colorPrimary, 0.3);
    text-shadow: none;
    -gtk-icon-shadow: none;
}

Causing dialog titlebutton backdrop problems

dialog .titlebar :not(.suggested-action):not(.destructive-action) image,
dialog .titlebar :not(.suggested-action):not(.destructive-action) label {
    color: @title_color;
    text-shadow: 0 1px @title_shadow_color;
    -gtk-icon-shadow: 0 1px @title_shadow_color;
}

.titlebar {
    background-image: linear-gradient(to top, #d8d7d8, #e6e5e6);
    border-color: #d8d7d8;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-width: 0 0 0px; 
    text-shadow: 0 1px alpha (shade (@colorPrimary, 1.4), 0.4);
    //box-shadow:
    //    inset 0 0 0 1px alpha (shade (@colorPrimary, 1.4), 0.2),         // No need of box shadows anymore
    //    inset 0 1px 0 0 alpha (shade (@colorPrimary, 1.4), 0.6);
    padding: 8px 6px 6px;
    -gtk-icon-shadow: 0 1px alpha (shade (@colorPrimary, 1.4), 0.4);
}


*/



/***********************************
*               CSD                *
************************************/

/* MY CSD STARTS FROM HERE */


headerbar.default-decoration button.titlebutton,
.titlebar.default-decoration button.titlebutton {
    padding: 0 4px;
    min-width: 0;
    min-height: 0;
    margin: 0;
}

headerbar button.titlebutton,
.titlebar button.titlebutton {
    padding: 0;
    min-width: 20px;    /* Changed 24 to 20px [Spacing between titlebuttons]*/
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    background-color: rgba(231, 232, 235, 0);
}

headerbar button.titlebutton:hover,
.titlebar button.titlebutton:hover {
    color: rgba(82, 93, 118, 0.8);
    border-color: rgba(82, 93, 118, 0.1);
    background-color: rgba(251, 251, 252, 0.9);
}

headerbar button.titlebutton:active,
headerbar button.titlebutton:checked,
.titlebar button.titlebutton:active,
.titlebar button.titlebutton:checked {
    color: #ffffff;
    border-color: #5294e2;
    background-color: #5294e2;
}

/* Fixed/removed stupid :active border and box
   shadow that applied because of button css*/
headerbar button.titlebutton.close:active,
headerbar button.titlebutton.maximize:active,
headerbar button.titlebutton.minimize:active{
    border-color: transparent;
    box-shadow: none;
}

headerbar button.titlebutton.close,
headerbar button.titlebutton.maximize,
headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.close,
.titlebar button.titlebutton.maximize,
.titlebar button.titlebutton.minimize {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-width: 0;
}

headerbar button.titlebutton.close:backdrop,
headerbar button.titlebutton.maximize:backdrop,
headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.minimize:backdrop {
    opacity: 0.75; /* Changed opacity to make it less poppy for inactive windows*/
}

headerbar button.titlebutton.close,
.titlebar button.titlebutton.close {
    background-image: -gtk-scaled(url("assets/titlebutton-close.png"), url("assets/titlebutton-close@2.png"));
}

headerbar button.titlebutton.close:backdrop,
.titlebar button.titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-close-backdrop.png"), url("assets/titlebutton-close-backdrop@2.png"));
}

headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-close-hover.png"), url("assets/titlebutton-close-hover@2.png"));
}

headerbar button.titlebutton.close:active,
.titlebar button.titlebutton.close:active {
    background-image: -gtk-scaled(url("assets/titlebutton-close-active.png"), url("assets/titlebutton-close-active@2.png"));
}

headerbar button.titlebutton.maximize,
.titlebar button.titlebutton.maximize {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize.png"), url("assets/titlebutton-maximize@2.png"));
}

headerbar button.titlebutton.maximize:backdrop,
.titlebar button.titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-backdrop.png"), url("assets/titlebutton-maximize-backdrop@2.png"));
}

headerbar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-hover.png"), url("assets/titlebutton-maximize-hover@2.png"));
}

headerbar button.titlebutton.maximize:active,
.titlebar button.titlebutton.maximize:active {
    background-image: -gtk-scaled(url("assets/titlebutton-maximize-active.png"), url("assets/titlebutton-maximize-active@2.png"));
}

headerbar button.titlebutton.minimize,
.titlebar button.titlebutton.minimize {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize.png"), url("assets/titlebutton-minimize@2.png"));
}

headerbar button.titlebutton.minimize:backdrop,
.titlebar button.titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-backdrop.png"), url("assets/titlebutton-minimize-backdrop@2.png"));
}

headerbar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-hover.png"), url("assets/titlebutton-minimize-hover@2.png"));
}

headerbar button.titlebutton.minimize:active,
.titlebar button.titlebutton.minimize:active {
    background-image: -gtk-scaled(url("assets/titlebutton-minimize-active.png"), url("assets/titlebutton-minimize-active@2.png"));
}



/************************************
*   SWITCH COLOR CHANGED TO GREEN   *
*************************************/

switch:checked {
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @colorSwitch,
                1.2
            ),
            @colorSwitch
        );
    border-color: shade (@colorSwitch, 0.85);
}


/****************/
/* Fix nautilus */
/****************/

/* Titlebar button fix */

button.image-button.text-button.toggle:checked{
  border-radius: 0%;
  border: 1px solid #bbb;
  text-shadow : none;
  box-shadow: inset 1px 0px 4px rgba(0;0;0;0.1);
  box-shadow: inset 0px 0px 0px 0px #eaeaea;
}

button.image-button.text-button.toggle:not(checked){
  border-radius: 0%;
  border: 1px solid #bbb;
  background-image:
        linear-gradient(
            to bottom,
            transparent,
            transparent 50%,
            alpha (
                #000,
                0.03
            )
        );
  box-shadow: inset 0px 1px 0px 0px #eaeaea;
}

button.image-button.text-button.toggle:not(checked):nth-child(2){
  border-left: none;
}

button.image-button.text-button.toggle:not(checked):backdrop{
  box-shadow: inset 0px 1px 0px 0px #fafafa;
  background-image: linear-gradient(#ededed, #e8e8e8);
}


/***********************************
*           EXPERIMENTAL           *
***********************************/

/*window .vertical menubar{
  background-image: linear-gradient(to top, #d8d7d8, #e6e5e6);
}

/* can use to fix dialog box problems
*:disabled {
  background-color: #320a91;
}
*/